* 
{
  box-sizing: border-box;
  font-family: sans-serif;    
}


/*.left_side
{
      width: 35%;
}
.right_side
{
      width: 65%;
}*/
.both_rows
{
      display: grid;
      grid-template-columns: 0.5fr 3fr;
      background-color: bisque;
      grid-gap: 2em;
}
